header{
    text-align:center;
	background-color: #d2dae2;
	font-family: Verdana, Arial;
	text-style: bold;
	color: #1e272e;
}
body{
	font-family: Verdana, Arial;
	background-color: #d2dae2;
	color: #485460;
	margin-left: 20%;
	margin-right: 20%;
}
h3{
	color: #1e272e;
    text-align:center;
        font-style:bold;
}
p{
	margin-top: 10px;
}
ol{
	font-size: 105%;
	font-style: italic;
}
li{
	margin-top: 10px; 
}
li:first-child{
	margin-top:0px;
}
