header{
    text-align:center;
	background-color: #404040;
	font-family: Verdana, Arial;
	text-style: bold;
	color: #e89600;
}
body{
	color: #e89600;
	font-family: Verdana, Arial;
	background-color: #404040;
	margin-left: 20%;
	margin-right: 20%;
}
ol{
	font-size: 110%;
	font-style: italic;
}
#subtitle{
	text-align:center;
        font-style:bold;
}
